READ_LENGTH_CUTOFF= 100
q1=/home/zheng/data/Bibersteinia_trehalosi/SRR849061_1.fastq
q2=/home/zheng/data/Bibersteinia_trehalosi/SRR849061_2.fastq
INSERT_SIZE=500
LINK_QUALITY_PERCENT=0.0
PAIR_KMER_CUTOFF=30
PAIR_READS_CUTOFF=5
EDGE_LENGTH_CUTOFF=50

q1=/home/zheng/data/Bibersteinia_trehalosi/SRR849061_1.fastq
q2=/home/zheng/data/Bibersteinia_trehalosi/SRR849061_2.fastq
INSERT_SIZE=500
LINK_QUALITY_PERCENT=0.0
PAIR_KMER_CUTOFF=10
PAIR_READS_CUTOFF=2


#q1= /home/zheng/data/E.coli/SRR_1_filter.fastq
#q2= /home/zheng/data/E.coli/SRR_2_filter.fastq
#INSERT_SIZE=180
#LINK_QUALITY_PERCENT=0.00
#PAIR_KMER_CUTOFF=10
#q1= /home/zhangrenyu/data/.nanhai/10399_500clean_1.fq 
#q2= /home/zhangrenyu/data/.nanhai/10399_500clean_2.fq
#INSERT_SIZE=10000
#LINK_QUALITY_PERCENT=0.20
#PAIR_KMER_CUTOFF=80
#q1= /home/zhangrenyu/data/.nanhai/10399_3-5kwjf_1.fastq 
#q2= /home/zhangrenyu/data/.nanhai/10399_3-5kwjf_2.fastq
#INSERT_SIZE=500
#q1= /home/jade/data/sim/a7_500_read1.fq 
#q2= /home/jade/data/sim/a7_500_read2.fq
#INSERT_SIZE=3000
#q1= /home/jade/data/sim/a7_3000_read1.fq 
#q2= /home/jade/data/sim/a7_3000_read2.fq
